<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelPacks</key>
	<array>
		<dict>
			<key>detailType</key>
			<string>CPU</string>
			<key>cellState</key>
			<string>_Active</string>
			<key>levels</key>
			<array>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>2</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>2</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>5</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>5</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>4</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>4</integer>
					<key>detailType</key>
					<string>CPU</string>
					<key>detailPosition</key>
					<integer>1</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>detailType</key>
			<string>HardDrive</string>
			<key>cellState</key>
			<string>_NonActive</string>
			<key>levels</key>
			<array>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>2</integer>
					<key>detailFloorPosition</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>2</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>3</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>3</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>5</integer>
					<key>detailFloorPosition</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>5</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>1</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>HardDrive</string>
					<key>detailPosition</key>
					<integer>4</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>detailType</key>
			<string>RAM1</string>
			<key>cellState</key>
			<string>_NonActive</string>
			<key>levels</key>
			<array>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
					</array>
					<key>robotPosition</key>
					<integer>4</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>6</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>2</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>6</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>1</integer>
					<key>detailFloorPosition</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>1</integer>
					<key>detailFloorPosition</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>0</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>4</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>1</integer>
					<key>detailFloorPosition</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>5</integer>
					<key>detailType</key>
					<string>RAM1</string>
					<key>detailPosition</key>
					<integer>3</integer>
					<key>detailFloorPosition</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>detailType</key>
			<string>RAM2</string>
			<key>cellState</key>
			<string>_NonActive</string>
			<key>levels</key>
			<array>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>0</integer>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>7</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>2</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>5</integer>
					<key>detailFloorPosition</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>7</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>0</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>4</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>7</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
						<string>1</string>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>RAM2</string>
					<key>detailPosition</key>
					<integer>7</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>detailType</key>
			<string>Battery</string>
			<key>cellState</key>
			<string>_NonActive</string>
			<key>levels</key>
			<array>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>2</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>2</integer>
						<integer>2</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>7</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>2</integer>
						<integer>0</integer>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>7</integer>
					<key>detailFloorPosition</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>2</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>1</integer>
					<key>detailFloorPosition</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>2</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>6</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>1</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>0</integer>
						<string>1</string>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>Battery</string>
					<key>detailPosition</key>
					<integer>7</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>detailType</key>
			<string>Fan</string>
			<key>cellState</key>
			<string>_NonActive</string>
			<key>levels</key>
			<array>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>0</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>3</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>1</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>0</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>2</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>1</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>3</integer>
					<key>detailFloorPosition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>0</integer>
						<integer>1</integer>
					</array>
					<key>robotPosition</key>
					<integer>4</integer>
					<key>detailType</key>
					<string>Crystall</string>
					<key>detailPosition</key>
					<integer>7</integer>
					<key>detailFloorPosition</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>blocksPattern</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>1</integer>
						<integer>1</integer>
						<integer>0</integer>
					</array>
					<key>robotPosition</key>
					<integer>3</integer>
					<key>detailType</key>
					<string>Fan</string>
					<key>detailPosition</key>
					<integer>7</integer>
					<key>detailFloorPosition</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cellState</key>
			<string>_NonActive</string>
			<key>blocksPattern</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>robotPosition</key>
			<integer>1</integer>
			<key>detailType</key>
			<string>Fan</string>
			<key>detailPosition</key>
			<integer>1</integer>
			<key>detailFloorPosition</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
